img {
    width: 7em;
    image-rendering: pixelated;
}

.dependencies {
    max-width: 7em;
}

ul img {
    width: 1.5em;
}

article {
    width: 80em;
    
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap:.5em;
    padding: .5em;
    margin: .2em;
    border: 1px solid;
    border-radius: 4px;
}

input[type=checkbox]:checked + article {
    background-color: lightgreen;
    border-color: green;
}

input[type=checkbox]:disabled + article {
    background-color: #FFEAE9;
    border-color: salmon;
} 

article .images {
    grid-column: 1;
    grid-row: 1 / 3;
    margin: .5em
}

article ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

article .infos {
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: .5em;
}

article .main {
    padding: .5em;
    background-color: rgba(255,255,255,.3);
    border: 1px solid;
    border-radius: 2px;
}

article h4 {
    margin: 0;
}

article .complementaries {
    text-align: right;
}

.complementaries p {
    margin: 0;
}

article .categories {
    grid-column: 2;
    grid-row: 2;
}

article .categories li {
    border: 1px solid;
    border-radius: 8px;
    padding: 0 .4em;
}
