<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <title>{% block title %}Modpack Helper{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Modpack Helper</h1>
    </header>
    <main>
    {% block main %}

    {% endblock %}
    </main>
    <footer>
        <a href="https://github.com/CaptainTheDelta/modpack-helper">Forkez-moi sur Github</a>
        <a href="https://modrinth.com">Basé sur la plateforme Modrinth</a>
    </footer>
</body>
</html>