{% extends "base.html" %}

{% block main %}
<h2>Config pour {{ modpack.name }} v{{ modpack.version }} [{{ modpack.game_version}}] par {{ modpack.author }}</h2>
<form action="/generation" method="post">
    {% for category in mods %}
    <h3>{{ category }}</h3>
        {% for mod in mods[category] %}
        <label for="cbx-{{ mod.slug }}">
            <input type="checkbox" name="{{ mod.slug }}" id="cbx-{{ mod.slug }}" hidden {% if  not mod.compatibility %}disabled{% endif %}>
            <article>
                <div  class="images">
                    <a href="https://modrinth.com/mod/{{ mod.slug }}" target="_blank">
                        <img srcset="{% if mod.icon_url %}{{ mod.icon_url }},{% else %}{{ url_for('static', filename='default.svg') }}{% endif %}" alt="Image for {{ mod.slug }}">
                    </a>
                    <ul class="dependencies">
                        <li>
                            <a href="https://modrinth.com/mods" target="_blank">
                                <img srcset="{{ url_for('static', filename='default.svg') }}">
                            </a>
                        </li>
                        {% for d in mod.depencies %}
                        <li>
                            <a href="https://modrinth.com/mod/{{ d.slug }}">
                                <img srcset="{% if d.icon_url %}{{ d.icon_url }},{% else %}{{ url_for('static', filename='default.svg') }}{% endif %}" alt="Image for {{ d.slug }}">
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="infos">
                    <div class="main">
                        <h4>
                        {% if mod.title %}
                            {% if  not mod.compatibility %}[INCOMPATIBLE]{% endif %}
                            <a href="https://modrinth.com/mod/{{ mod.slug }}" target="_blank">
                                {{ mod.title }}
                            </a>
                        {% else %}
                            {{ mod.slug}}
                        {% endif%}
                        </h4>
                        <p>{{ mod.description }}</p>
                    </div>
                    <div class="complementaries">
                        <p class="license">{{ mod.license.id }}</p>
                        <p class="updated">Dernière MàJ<br>{{ mod.updated }}</p>
                    </div>
                </div>
                <div class="categories">
                    {% if mod.categories %}
                    <ul>
                        {% for c in mod.categories %}
                        <li>{{ c }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </article>
        </label>
        {% endfor %}
    {% endfor %}
    <input type="submit" value="Générer un modpack">
</form>
{% endblock %}